.playWrapper {
  width: 1000px;
  margin: 40px auto 40px auto;
  padding-bottom: 40px;

  & * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .statusBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    padding: 6px 15px;

    .userStatus {
      display: flex;
      gap: 30px;
      justify-content: flex-start;
      align-items: center;

      p {
        font-size: 14px;
        margin: 0;

        span {
          color: white;
        }
        &.username {
          color: green;
        }
      }

      .logout {
        color: rgb(255, 137, 137);
        font-size: 20px;
        cursor: pointer;
      }
    }

    .title {
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      margin: 0;
    }
  }

  .bottomBar {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-end;
  }
}
